# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Module and build directories and files
__pycache__
node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
*.sif

# Model checkpoint files
*.pt
*.pth
*.ckpt

# Ignore .env files
.env
.env.development
.env.production

# Editor directories and files
.vscode/*
.obsidian/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local test files
local
test
docs