VERSION=1.0.0 # API version string
API_KEY=api_key # API key for authentication
SAM2_ENDPOINT=localhost:8001 # SAM2 endpoint
METRABS_ENDPOINT=localhost:8002 # MeTRAbs endpoint
SKEL3D_ENDPOINT=localhost:8003 # Skel3D endpoint
CAPEX_ENDPOINT=localhost:8004 # CapeX endpoint
SAM2_GPU=cuda:0 # GPU device for SAM2
CAPEX_GPU=cuda:0 # GPU device for CapeX
SKEL3D_MODEL_GPU=cuda:1 # GPU device for Skel3D
SKEL3D_SAM_GPU=cuda:1 # GPU device for Skel3D's internal SAM