/* Root styles */
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* Preview image styles */
.preview, .output {
	width: 90%;
	border: 1px solid gray;
	border-radius: 10px;
}
@media screen and (min-aspect-ratio: 4 / 3) {
	.output {
		width: 50%;
	}
}
.preview[src=""], .output[src=""] {
	width: 50%;
	height: 50%;
	aspect-ratio: 1;
}

/* Main content area */
.main-content {
	max-height: 80vh;
	overflow-y: auto;
}

/* Input image and containers' height */
@media screen and (min-width: 512px) and (max-width: 992px) {
	.preview {
		height: 60vh;
		width: auto;
	}
}
@media screen and (min-width: 768px) and (orientation: landscape) {
	.preview {
		height: 50vh;
		width: auto;
	}
}
@media screen and (min-width: 992px) and (orientation: portrait) {
	.preview {
		width: 90%;
	}
}

/* Keypoint container below preview image */
.keypoints {
	height: 40%;
}
.mw-50 {
	min-width: 50%;
}
.mw-45 {
	min-width: 45%;
}

/* Keypoint marker on image */
.kp-marker .point {
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 0 0 3px white;
}
.kp-marker .container {
	position: relative;
}
.kp-marker .point.pos {
	background-color: #009cc4;
}
.kp-marker .point.neg {
	background-color: #dd0000;
}

/* Floating action button styles */
.fab {
	position: fixed;
	z-index: 2000;
	bottom: 1rem;
}
.fab.fab-left {
	left: 1rem;
}
.fab.fab-right {
	right: 1rem;
}